.page-bill-detail{
  .info{
    padding:10px;
    background-color:#fff;
    .status{
      color:#999;
      font-size:14px;
    }

    .number{
      font-size:60px;
    }

    .opponent{
      padding-top:10px;
      font-size: 14px;
    }
  }

  .ui-list li h4{
    font-size:14px;
    width:80px;
    -webkit-box-flex:inherit;
  }
  .ui-list{
    margin-top:10px;
    font-size:14px;
    .ui-txt-info{
      -webkit-box-flex:1;
    }
  }
}
.evaluate{
  padding: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  .evaluate-text{
    padding: 8px;
    background-color: #f9f9f9;
    color: #666666;
    border-radius: 5px;
    font-size: 13px;
  }
}

.insurance-img {
  width: 100%;
}