.my-wraper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.my-main_header {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #429FFF;
  overflow: hidden;

  position: relative;

  &:after {
    content: "";
    width: 150%;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  .btn {
    width:85px;
    height:30px;
    line-height: 30px;
    padding: 0;
    background:rgba(255,255,255,0.20);
    border: 1px solid rgba(255,255,255,0.80);
    border-radius:6px;
    font-size: 14px;
    color: rgba(255,255,255,0.80);
  }
  .logged_in {
    text-align: center;
    z-index: 1;
    > .background-icon {
      background-color: #fff;
      border: solid #fff 4px;
      border-radius: 50%;
      box-shadow: 0px 1px 2px 1px rgba( 66, 159, 255, .10 );
    }
    > p {
      color: #333;
    }

    .login_btn {
      width: 85px;
      height: 29px;
      line-height: 28px;
      margin-top: 8px;
      border: 1px solid #DCDCDC;
      border-radius: 4px;
      color: #666;
      font-size: 14px;
    }
  }
}
.my-main_section {
  padding-bottom: 60px;
  .grid-item {
    padding-top: 20%;
    color: #333;
    &:hover, &:active {
      color: #333;
    }
  }
  .grid-txt {
    font-size: 14px;
    color: #666;
  }
  .list-ord {
    border-top: none;
    border-bottom: none;
  }
  .list-extra {
    line-height: 1.5;
  }
  .list-title {
    font-size: 15px;
  }
}
.my-main_footer {
  min-height: 100px;
}